$test-color: red;

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.n-layout-scroll-container {
  &::-webkit-scrollbar {
    display: none;
  }
}

.home-main {
  max-height: 92rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
